*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #9e9aa7;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 5rem;
  background-color: #2acfcf;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn--sm {
  padding: 0.5rem 2rem;
}

.btn--lg {
  padding: 1rem 3.5rem;
}

.btn-sqaure {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border-color: #2acfcf;
  background-color: #2acfcf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.btn-sqaure:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.btn-sqaure:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-sqaure:disabled {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  cursor: wait;
}

.card {
  background-color: #fff;
  font-size: 1.4rem;
  width: 32%;
  height: 100%;
  padding: 6rem 3.5rem 3rem;
  border-radius: 0.4rem;
  position: relative;
}

.card__box-img {
  background-color: #3b3054;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem;
  position: absolute;
  top: -3.5rem;
}

.card__text h3 {
  font-size: 1.8rem;
  color: #3b3054;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.card::before {
  content: '';
  display: inline-block;
  width: 4rem;
  height: 0.5rem;
  background-color: #2acfcf;
  position: absolute;
  top: 50%;
  right: -4rem;
}

.card--2 {
  margin-top: 4rem;
}

.card--3 {
  margin-top: 8rem;
}

.card--3::before {
  display: none;
}

.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  min-height: 5rem;
  padding: 2rem 0;
  font-size: 1.6rem;
}

.header__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  margin-left: 4rem;
}

.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header__menu-link:link, .header__menu-link:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  color: #9e9aa7;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__menu-link:link:hover, .header__menu-link:visited:hover {
  color: #3b3054;
}

.header__box-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  position: relative;
  height: 60rem;
  z-index: 1;
}

.hero__text-box {
  width: 40%;
  padding: 3rem 0;
}

.hero__text-box h1 {
  font-size: 5.4rem;
  color: #232127;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero__text-box p {
  margin-bottom: 3rem;
}

.hero__box-img {
  width: 60%;
  position: absolute;
  top: 3rem;
  right: -17%;
  height: 45rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero img {
  width: 100%;
}

.section-form {
  background-color: #eff0f5;
  padding: 2rem;
}

.section-form .form-box {
  background: #3b3054 url("../images/bg-shorten-desktop.svg") no-repeat center center;
  padding: 3.5rem 4rem 2rem;
  margin-top: -6.5rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  position: relative;
  z-index: 10;
}

.section-form .form-box__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.section-form .form-box__group input {
  width: 85%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 2px solid #fff;
}

.section-form .form-box__group input:invalid {
  border-color: #f46262;
}

.section-form .form-box__span {
  font-size: 1.1rem;
  color: red;
}

.section-form .form-box__span--error {
  display: none;
}

.section-form .box-link {
  background-color: #fff;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.section-form .box-link__item {
  width: 60%;
}

.section-form .box-link__item a {
  color: #3b3054;
  text-decoration: none;
  font-weight: 500;
}

.section-form .box-link__group {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-form .box-link__group a {
  display: inline-block;
  margin-right: 2rem;
  color: #2acfcf;
  text-decoration: none;
  font-weight: 500;
}

.section-form .box-link__group button {
  padding: 0.5rem 2rem;
  background-color: #2acfcf;
  border-color: #2acfcf;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.section-form .box-link__group button:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.section-form .box-link__group button:focus {
  opacity: 1;
  background-color: #3b3054;
  border-color: #3b3054;
  font-weight: 700;
}

.statistics {
  background-color: #eff0f5;
  padding: 3rem 0 8rem;
}

.statistics-box {
  width: 41%;
  margin: 0 auto 8rem;
  text-align: center;
}

.statistics-box__heading {
  font-size: 3rem;
  color: #232127;
}

.statistics-box__paragraph {
  font-size: 1.5rem;
}

.statistics .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.boost {
  background: #3b3054 url("../images/bg-boost-desktop.svg") no-repeat center center;
  background-color: #3b3054;
  padding: 4rem 0;
}

.boost__box-text {
  text-align: center;
}

.boost__box-text h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */