*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #9e9aa7;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 5rem;
  background-color: #2acfcf;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn--sm {
  padding: 0.5rem 2rem;
}

.btn--lg {
  padding: 1rem 3.5rem;
}

.btn-sqaure {
  width: 20%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border-color: #2acfcf;
  background-color: #2acfcf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .btn-sqaure {
    width: 100%;
  }
}

.btn-sqaure:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.btn-sqaure:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.btn-sqaure:disabled {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  cursor: wait;
}

.btn-mobile {
  background: none;
  border: none;
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-mobile {
    display: block;
  }
}

.card {
  background-color: #fff;
  font-size: 1.4rem;
  width: 32%;
  height: 100%;
  padding: 6rem 3.5rem 3rem;
  border-radius: 0.4rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .card {
    width: 60%;
  }
}

@media screen and (max-width: 475px) {
  .card {
    width: 100%;
  }
}

.card__box-img {
  background-color: #3b3054;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5rem;
  position: absolute;
  top: -3.5rem;
}

.card__text h3 {
  font-size: 1.8rem;
  color: #3b3054;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.card::before {
  content: '';
  display: inline-block;
  width: 4rem;
  height: 0.5rem;
  background-color: #2acfcf;
  position: absolute;
  top: 50%;
  right: -4rem;
}

@media screen and (max-width: 768px) {
  .card::before {
    top: -4rem;
    left: 5rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (max-width: 768px) {
  .card--1::before {
    display: none;
  }
}

.card--2 {
  margin-top: 4rem;
}

.card--3 {
  margin-top: 8rem;
}

@media screen and (max-width: 768px) {
  .card--3 {
    margin-top: 4rem;
  }
}

.card--3::before {
  display: none;
}

@media screen and (max-width: 768px) {
  .card--3::before {
    display: block;
  }
}

.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .container--flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header {
  min-height: 5rem;
  padding: 2rem 0;
  font-size: 1.6rem;
}

.header__logo {
  margin-right: 4rem;
}

.header .navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header .navigation {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header .navigation.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    padding: 2rem;
    z-index: 20;
  }
  .header .navigation.active nav {
    width: 100%;
    background-color: #3b3054;
    padding: 4rem 4rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .header .navigation.active .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .header .navigation.active .navigation__menu-item a:link,
  .header .navigation.active .navigation__menu-item a:visited {
    color: #fff;
    margin-bottom: 2rem;
  }
  .header .navigation.active .navigation__menu:last-child {
    border-bottom: 1px solid #bfbfbf;
  }
  .header .navigation.active .navigation__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #3b3054;
    padding: 0 4rem 4rem;
  }
  .header .navigation.active .navigation__buttons-item:link, .header .navigation.active .navigation__buttons-item:visited {
    color: #fff;
    font-weight: 700;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .header .navigation.active .navigation__buttons .btn-xl {
    padding: 1rem;
    width: 100%;
  }
}

.header .navigation__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header .navigation__menu-item a:link,
.header .navigation__menu-item a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  color: #9e9aa7;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .navigation__menu-item a:link:hover,
.header .navigation__menu-item a:visited:hover {
  color: #3b3054;
}

.header .navigation__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header .navigation__buttons-item:link, .header .navigation__buttons-item:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  color: #9e9aa7;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header .navigation__buttons-item:link:hover, .header .navigation__buttons-item:visited:hover {
  color: #3b3054;
}

.footer {
  background-color: #232127;
  padding: 6rem 0;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
  }
}

.footer-box__logo {
  height: 3.5rem;
}

.footer-box__logo svg path {
  fill: #fff;
}

.footer-box__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  gap: 6rem;
}

@media screen and (max-width: 475px) {
  .footer-box__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-box__navigation ul {
  list-style: none;
  color: #fff;
}

@media screen and (max-width: 475px) {
  .footer-box__navigation ul li {
    text-align: center;
  }
}

.footer-box__navigation ul li a {
  display: inline-block;
  color: #bfbfbf;
  text-decoration: none;
  padding: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-box__navigation ul li a:hover {
  color: #2acfcf;
}

.footer-box__navigation ul li:first-child {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer-box__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.footer-box__social-link a svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-box__social-link a:hover svg path {
  fill: #2acfcf;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
  padding: 4rem 2.5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
}

.hero__text-box {
  max-width: 40%;
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .hero__text-box {
    text-align: center;
    max-width: 70%;
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 475px) {
  .hero__text-box {
    max-width: 100%;
  }
}

.hero__text-box h1 {
  font-size: 5.4rem;
  color: #232127;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .hero__text-box h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__text-box h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 475px) {
  .hero__text-box h1 {
    font-size: 2.8rem;
  }
}

.hero__text-box p {
  margin-bottom: 3rem;
}

.hero__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.hero img {
  position: relative;
  width: 130%;
  right: -10%;
}

.section-form {
  background-color: #eff0f5;
  padding: 2rem;
}

.section-form .container {
  padding: 0 0.4rem;
}

.section-form .form-box {
  background: #3b3054 url("../images/bg-shorten-desktop.svg") no-repeat center center;
  padding: 3.5rem 4rem 2rem;
  margin-top: -6.5rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .section-form .form-box {
    padding: 3.5rem 2.5rem 2rem;
  }
}

.section-form .form-box__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .section-form .form-box__group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
}

.section-form .form-box__group input {
  width: 85%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .section-form .form-box__group input {
    width: 100%;
  }
}

.section-form .form-box__group input:invalid {
  border-color: #f46262;
}

.section-form .form-box__span {
  font-size: 1.2rem;
  color: red;
}

.section-form .form-box__span--error {
  display: none;
}

.section-form .box-link {
  background-color: #fff;
  border-radius: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2.5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .section-form .box-link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}

.section-form .box-link__item {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .section-form .box-link__item {
    padding: 0.4rem 0;
    border-bottom: 2px solid #eff0f5;
    width: 100%;
  }
}

.section-form .box-link__item a {
  color: #3b3054;
  text-decoration: none;
  font-weight: 500;
}

.section-form .box-link__group {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .section-form .box-link__group {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}

.section-form .box-link__group a {
  display: inline-block;
  margin-right: 2rem;
  color: #2acfcf;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .section-form .box-link__group a {
    width: 100%;
    margin-right: 0;
  }
}

.section-form .box-link__group button {
  padding: 0.5rem 2rem;
  background-color: #2acfcf;
  border-color: #2acfcf;
  color: #fff;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .section-form .box-link__group button {
    width: 100%;
    padding: 1rem 2rem;
  }
}

.section-form .box-link__group button:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.section-form .box-link__group button:focus {
  opacity: 1;
  background-color: #3b3054;
  border-color: #3b3054;
  font-weight: 700;
}

.statistics {
  background-color: #eff0f5;
  padding: 3rem 0 8rem;
}

.statistics-box {
  width: 41%;
  margin: 0 auto 8rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .statistics-box {
    width: 100%;
  }
}

.statistics-box__heading {
  font-size: 3rem;
  color: #232127;
  margin-bottom: 1rem;
}

@media screen and (max-width: 475px) {
  .statistics-box__heading {
    font-size: 2.2rem;
  }
}

.statistics-box__paragraph {
  font-size: 1.5rem;
}

.statistics .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .statistics .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.boost {
  background: #3b3054 url("../images/bg-boost-desktop.svg") no-repeat center center;
  background-color: #3b3054;
  padding: 6rem 0;
}

.boost__box-text {
  text-align: center;
}

.boost__box-text h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 3rem;
}

@media screen and (max-width: 475px) {
  .boost__box-text h2 {
    font-size: 2.2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #232127;
}

.attribution a {
  color: #bfbfbf;
}
/*# sourceMappingURL=style.css.map */