.container {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2.5rem;

  &--flex {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .container--flex {
    justify-content: space-between;
  }
}
