.footer {
  background-color: $color-very-dark-violet;
  padding: 6rem 0;

  &-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include md {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }

    &__logo {
      height: 3.5rem;

      svg path {
        fill: $color-white;
      }
    }

    &__navigation {
      display: flex;
      font-size: 1.4rem;
      gap: 6rem;

      @include sm {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: center;
      }

      ul {
        list-style: none;
        color: $color-white;

        li {
          @include sm {
            text-align: center;
          }

          a {
            display: inline-block;
            color: $color-gray;
            text-decoration: none;
            padding: 0.5rem;
            transition: all 0.3s;

            &:hover {
              color: $color-cyan;
            }
          }
        }

        li:first-child {
          font-size: 1.6rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }
      }
    }

    &__social-link {
      display: flex;
      gap: 2rem;

      a svg path {
        transition: all 0.3s;
      }

      a:hover svg path {
        fill: $color-cyan;
      }
    }
  }
}
