@media (max-width: 768px) {
  .header {
    .navigation {
      display: none;
    }

    .navigation.active {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      top: 8rem;
      left: 0;
      right: 0;
      height: 100vh;
      background: rgba(0, 0, 0, 0.1);
      padding: 2rem;
      z-index: 20;

      nav {
        width: 100%;
        background-color: $color-dark-violet;
        padding: 4rem 4rem 2rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }

      .navigation__menu {
        flex-direction: column;
        gap: 0;

        &-item a:link,
        &-item a:visited {
          color: $color-white;
          margin-bottom: 2rem;
        }

        &:last-child {
          border-bottom: 1px solid $color-gray;
        }
      }

      .navigation__buttons {
        flex-direction: column;

        width: 100%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: $color-dark-violet;
        padding: 0 4rem 4rem;

        &-item:link,
        &-item:visited {
          color: $color-white;
          font-weight: 700;
          transition: 0.3s ease-in-out;
        }

        .btn-xl {
          padding: 1rem;
          width: 100%;
        }
      }
    }

    .btn-mobile {
      display: block;
    }
  }
}
