.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 5rem;
    background-color: $color-cyan;
    color: $color-white;
    transition: all 0.3s;
  }

  &:hover {
    transform: translateY(-0.2rem);
    filter: opacity(0.5);
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &--sm {
    padding: 0.5rem 2rem;
  }

  &--lg {
    padding: 1rem 3.5rem;
  }
}

.btn-sqaure {
  // width: 100%;
  width: 20%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  border-color: $color-cyan;
  background-color: $color-cyan;
  color: $color-white;
  outline: none;
  cursor: pointer;

  @include md {
    width: 100%;
  }

  &:hover {
    transform: translateY(-0.2rem);
    filter: opacity(0.8);
  }

  &:active {
    transform: translateY(-0.1rem);
  }

  &:disabled {
    background-color: $color-gray;
    border-color: $color-gray;
    cursor: wait;
  }
}

.btn-mobile {
  background: none;
  border: none;
  display: none;

  @include md {
    display: block;
  }
}
