.hero {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
  padding: 4rem 2.5rem;
  margin-bottom: 5rem;

  @include md {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }

  &__text-box {
    max-width: 40%;
    padding: 3rem 0;

    @include md {
      text-align: center;
      max-width: 70%;
      padding: 3rem 2rem;
    }

    @include sm {
      max-width: 100%;
    }

    h1 {
      font-size: 5.4rem;
      color: $color-very-dark-violet;
      line-height: 1.2;
      margin-bottom: 1rem;

      @include lg {
        font-size: 4rem;
      }

      @include md {
        font-size: 4rem;
      }

      @include sm {
        font-size: 2.8rem;
      }
    }

    p {
      margin-bottom: 3rem;
    }
  }

  &__box-img {
    display: flex;
    align-items: center;
    padding: 4rem 0;

    width: 100%;
  }

  img {
    position: relative;
    width: 130%;
    right: -10%;
  }
}

.section-form {
  background-color: $color-gray-light;
  padding: 2rem;

  .container {
    padding: 0 0.4rem;
  }

  .form-box {
    background: $color-dark-violet url('../images/bg-shorten-desktop.svg')
      no-repeat center center;
    padding: 3.5rem 4rem 2rem;
    margin-top: -6.5rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    position: relative;
    z-index: 10;

    @include md {
      padding: 3.5rem 2.5rem 2rem;
    }

    &__group {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 0.5rem;
      position: relative;

      @include md {
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      input {
        width: 85%;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 0.4rem;
        border: 2px solid $color-white;

        @include md {
          width: 100%;
        }

        &:invalid {
          border-color: $color-red;
        }
      }
    }

    &__span {
      font-size: 1.2rem;
      color: red;

      &--error {
        display: none;
      }
    }
  }

  .box-link {
    background-color: $color-white;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;

    @include md {
      flex-wrap: wrap;
      gap: 1rem;
    }

    &__item {
      width: 60%;

      @include md {
        padding: 0.4rem 0;
        border-bottom: 2px solid $color-gray-light;

        width: 100%;
      }

      a {
        color: $color-dark-violet;
        text-decoration: none;
        font-weight: 500;
      }
    }

    &__group {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include md {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
      }

      a {
        display: inline-block;
        margin-right: 2rem;
        color: $color-cyan;
        text-decoration: none;
        font-weight: 500;

        @include md {
          width: 100%;
          margin-right: 0;
        }
      }

      button {
        padding: 0.5rem 2rem;
        background-color: $color-cyan;
        border-color: $color-cyan;
        color: $color-white;
        border-radius: 0.4rem;
        font-size: 1.5rem;
        cursor: pointer;
        outline: none;

        @include md {
          width: 100%;
          padding: 1rem 2rem;
        }

        &:hover {
          filter: opacity(0.5);
        }

        &:focus {
          opacity: 1;
          background-color: $color-dark-violet;
          border-color: $color-dark-violet;
          font-weight: 700;
        }
      }
    }
  }
}

.statistics {
  background-color: $color-gray-light;
  padding: 3rem 0 8rem;

  &-box {
    width: 41%;
    margin: 0 auto 8rem;
    text-align: center;

    @include md {
      width: 100%;
    }

    &__heading {
      font-size: 3rem;
      color: $color-very-dark-violet;
      margin-bottom: 1rem;

      @include sm {
        font-size: 2.2rem;
      }
    }

    &__paragraph {
      font-size: 1.5rem;
    }
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include md {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.boost {
  background: $color-dark-violet url('../images/bg-boost-desktop.svg') no-repeat
    center center;
  background-color: $color-dark-violet;
  padding: 6rem 0;

  &__box-text {
    text-align: center;

    h2 {
      font-size: 3rem;
      color: $color-white;
      margin-bottom: 3rem;

      @include sm {
        font-size: 2.2rem;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: $color-very-dark-violet;

  a {
    color: $color-gray;
  }
}
