$color-cyan: hsl(180, 66%, 49%);
$color-dark-violet: hsl(257, 27%, 26%);
$color-red: hsl(0, 87%, 67%);
$color-gray: hsl(0, 0%, 75%);
$color-grayish-violet: hsl(257, 7%, 63%);
$color-dark-blue: hsl(255, 11%, 22%);
$color-very-dark-violet: hsl(260, 8%, 14%);

$color-gray-light: hsl(230, 25, 95%);

$color-white: #fff;
$color-black: #000;
